table {
	border-collapse: collapse;
}

td,
th {
	border: 1px solid black;
	min-width: 100px;
	height: 25px;
	padding: 3px;
}

.footer {
	background-color: #7FFF00;
}


.current-cell {
	background-color: pink;
}